.Rproj.user
.Rhistory
.RData
.Ruserdata
temp
.Rdata
.httr-oauth
.DS_Store
.quarto
.vscode
*.xlsx
desktop.ini
*.zip
*.csv
*.RDS
combined_wqs.xlsx
iwtt/Read-Me.txt
fracfocus/readme/readme csv.txt
/old_files
frac_raw_*
ecotox/AsciiDownloadHelp5.pdf
ecotox/release_notes_08_21_24.txt
ecotox/ECOTOX_ASCII_dd.pdf
