.Rproj.user
.Rhistory
.Ruserdata
.httr-oauth
.DS_Store
.quarto
.vscode
desktop.ini
/old_files
/echidna/raw
*.sql
raw*
*.pdf
/epa/toxval_raw
curation.zip
*.png
*.download
*.css
ecotox/ecotox.duckdb.wal
ecotox/temp.R
*.xlsx
*.csv
*.tsv
*.html
*.RData
*.RDS
*.duckdb
*.xltm
*.txt
*.parquet
*.docx
/ecotox/rsconnect
dict/All_CSV.zip
dict/All_Domains_CSV.zip
